{% extends 'base.html' %}
{% load staticfiles %}
{% block test %}
    <div class="container">
    <h3>{{ user }}</h3>
    <table class="table table-bordered">
        <tr><td>No</td><td>Title</td></tr>
    {% for object in object_list %}
        <tr>
            <td><a href="/categories/{{ object.slug }}">View</a> </td>
{#            <td><a href="{% url 'product_detail' pk=object.pk %}">View</a> </td>#}
{#            <td><a href="{{ object.get_absolute_url }}">View</a> </td>#}
            <td>{{ object.title }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}